$primary-color: white;

body {
    color: #000;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 141%;
    color: #fff;
    background-color: #a53820;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    white-space: nowrap;
    padding: 11px 20px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
        background-color: #2f333c;
    }
}

.content {
    padding: 40px;
}

.preview {
    border: 1px dashed #ddd;
    background: repeating-linear-gradient(45deg, #fbfbfb, #fbfbfb 10px, #f3f3f3 10px, #f3f3f3 20px);
    padding: 30px;
    &__titie {
        color: #ddd;
        font-size: 22px;
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
label {
    font-size: 14px;
    margin-bottom: 5px;
}
input {
    margin-bottom: 10px;
}
