$primary-color: white;

body {
  color: #000;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 141%;
  color: #fff;
  background-color: #a53820;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  white-space: nowrap;
  padding: 11px 20px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: #2f333c;
  }
}

.content {
  padding: 40px;
}

.preview {
  border: 1px dashed #ddd;
  background: repeating-linear-gradient(45deg, #fbfbfb, #fbfbfb 10px, #f3f3f3 10px, #f3f3f3 20px);
  padding: 30px;
  &__titie {
    color: #ddd;
    font-size: 22px;
  }
}

.snippet-preview {
  position: relative;
  display: inline-block;
  &--focused {
    .snippet-preview__info {
      opacity: 1;
      transition: none;
    }
  }
  &__info {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    background-color: #a53820;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
  }

  &__textarea {
    width: auto;
    max-width: 100%;
    min-height: 150px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    resize: none;
    overflow: hidden;
    &:focus {
      outline: none;
    }
    @media only screen and (min-width: 600px) {
      min-width: 300px;
    }
    @media only screen and (min-width: 1200px) {
      min-width: 500px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
label {
  font-size: 14px;
  margin-bottom: 5px;
}
input {
  margin-bottom: 10px;
}
input,
textarea {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
}
